.scene {
    display: inline-block;
    perspective: 600px;
}
  
.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
}
  
.card.is-flipped {
    transform: rotateX(-180deg);
}
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
}

.card__face img {
    max-width: 100%;
    max-height: 100%;
}
  
.card__face--front {
    /* background: crimson; */
}
  
.card__face--back {
    /* background: slateblue; */
    transform: rotateY(180deg) rotateZ(180deg);
}
  